@charset "utf-8";

/* ==========================================================================
1. CSS Reset Code
========================================================================== */


/* 1.1. Eric Meyers Reset
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
========================================================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/* Force scrollbar */

html {
    overflow-y: scroll;
}


/* Align radios and text inputs with their label */

input[type='radio'] {
    vertical-align: text-bottom;
}


/* Hand cursor on clickable input elements */

label,
input[type='button'],
input[type='submit'],
button {
    cursor: pointer;
}

strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
}

em {
    font-style: italic;
}

img {
    width: 100%;
    border: 0;
    vertical-align: middle;
}

sub,
sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
}

sup {
    top: -.7em;
}

sub {
    bottom: -.25em;
}


/* 1.2. Clear Fix
========================== */

.cf:before,
.cf:after {
    display: table;
    content: " ";
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


/*for all*/

body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
}

li {
    display: inline-block;
    list-style-type: none;
}


/*for wrapper*/

.wrapper {
    max-width: 100vw;
    width: 100%;
    margin: 0 auto;
}

body {
    min-height: 100vh;
    background: url('../images/weather1.jpg') center no-repeat;
    background-size: cover;
}

.weather-image {
    background: url('../images/weather1.jpg')center no-repeat;
    background-size: cover;
}


.sunny {
    background: url('../images/sunny.jpg')center no-repeat;
    background-size: cover;
}

.cloudy {
    background: url('../images/cloudy.jpg')center no-repeat;
    background-size: cover;
}


.login-form form {
    background-color: rgba(0, 0, 0, 0.7);
}

.form,
.weather-display {
    width: 80%;
    padding: 80px 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.weather-display {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
}

.weather-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

form {
    width: 100%;
}

.city-input {
    width: 50%;
    border: 1px solid #777;
    border-radius: 50px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.city-input input {
    width: 90%;
    padding: 15px 5%;
    border: none;
    border-radius: 50px 0 0 50px;
    outline: none;
    background-color: transparent;
    font-size: 21px;
    text-transform: capitalize;
}

.city-input input:focus {
    border-radius: 50px;
    outline: none;
    background-color: transparent;
}

.city-input input[type=submit] {
    width: 100%;
}

.city-name {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
}

.city-input .btn {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    border-radius: 0 50px 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #e67339;
    font-family: 'FontAwesome';
    font-weight: 900;
    text-align: center;
}

.city {
    width: 100%;
    padding: 10px 0;
    color: #fff;
    font-size: 42px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.information {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.info {
    width: 40%;
    color: #fff;
    font-size: 26px;
    text-align: center;
}

.info:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.image {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
}

.weather {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-transform: capitalize;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.login-form {
    width: 30%;
    padding: 200px 0;
    margin: 0 auto;
}

.login-form form {
    width: 90%;
    padding: 40px 5%;
    border: 1px solid #cecece;
}

.input-fields {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.input-field {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.input-field:last-child {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.login-form input[type=text],
.login-form input[type=password] {
    width: 94%;
    padding: 10px 3%;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    outline: none;
}

.login-btn {
    padding: 10px 8%;
    margin: 0 auto;
    border: 1px solid #3fff00;
    border-radius: 5px;
    outline: none;
    background-color: #3fff00;
    color: #fff;
    font-weight: 900;
}

.login-btn:hover {
    background-color: #fff;
    color: #3fff00;
}

.err {
    color: #f00;
    font-size: 12px;
    text-transform: capitalize;
}


.min,
.max {
    padding: 10px 0;
}

header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
    -ms-flex-pack: right;
    justify-content: right;
}

.btn-logout {
    padding: 7px 2%;
    margin: 10px 5% 0 0;
    border: 1px solid #f00;
    border-radius: 5px;
    background-color: #f00;
    color: #fff;
    text-align: center;
}

.btn-logout:hover {
    background-color: #fff;
    color: #f00;
}


/*media query starts*/


/*media query for 995px starts here*/

@media only screen and (max-width: 995px) {
    .login-form {
        width: 50%;
    }

    .city-input {
        width: 80%;
    }
}


/*media query for 768px starts here*/

@media only screen and (max-width: 768px) {
    .city-input input {
        padding: 7px 5%;
        font-size: 16px;
    }

    .city-name {
        -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    }

    .city-input .btn {
        -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    }

    .image {
        -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    }

    .information {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}


/*media query for 768px starts here*/

@media only screen and (max-width: 425px) {
<<<<<<< HEAD
    .city-input {
        width: 95%;
    }
    .city {
        font-size: 21px;
    }
    .login-form {
        width: 80%;
    }

    .info {
        width: 80%;
    }
=======
    .city-input { width: 95%;}
    .login-form { width: 80%;}
    .info { width: 80%;}
    .city { font-size: 21px;}
>>>>>>> feature-js
}